<launch>

    <!-- Input Parameters -->
    <arg name="DATA" />

    <!-- Interaction_monitor publisher -->
    <node name="tracker_patterns" 
        pkg="tracker_patterns" 
        type="tracker_patterns_node" 
        output="screen" 
        args="$(find tracker_patterns)/data/ $(arg DATA)" >
    </node>


</launch>
